/* Body styles */
html {
	display: flex;
	height: 100%;
}
body {
	display: flex;
	width: 100%;
	flex-direction: column;
	font-family: sans-serif;
}
/* Navbar styles */
nav {
	display: flex;
	background-color: #FFB4B0;
	height: 60px;
	border: 2px solid black;
	margin: 1em;
}

body {
	margin: 0;
}

nav ul {
	display: inline-flex;
	list-style: none;	
}
nav ul li:before {
content: " | ";
}
nav li:first-child:before {
content: none;
}
nav ul li a {
	color: blue;
	text-decoration: underline;
	padding: 0.5em;
}

nav ul li.selected a {
	color: black;
	text-decoration: none;
}

/*Sidebar styles */
.container {
	display: flex;
	flex-direction: row;
	margin: 0;
	height: 100%;
}
.sidebar {
	display: flex;
	flex-direction: column;
	flex-basis: 30%;
	background-color: #4DD7FA;
	padding: 1em;
    font-size: 1.2em;
    margin: 1em;
    border: 2px solid black;
}

.sidebar .options {
	display: flex;
    flex-direction: column;
    margin: 1em;
}

.sidebar .genre {
	display: flex;
    flex-direction: column;
    margin: 2em;
}
.genre form {
	column-count: 2;
}
.sidebar button {
	height: 40px;
	border-radius: 0.5em;
    background-color: lightgrey;
    border: 2px solid black;
    margin: 1em;
    font-size: 1em;
}
/*Main styles */
.main {
	display: flex;
	flex-basis: 70%;
	background-color: #FEFAC0; 
	flex-direction: column;
	padding: 2em;
	margin: 1em;
    border: 2px solid black;
}
section h1 {
	margin: 0;
	padding: 0;
	padding-top: 1em;
	color: #785616;
}
section ul {
	display: inline-flex;
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
section ul li {
	font-size: 1.1em;
    margin-right: 15px;
}
section ul li:before {
content: " | ";
}
section li:first-child:before {
content: none;
}
/* Add Music Styles */
.newmusic {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	flex-direction: column;
}
.newmusic form {
	display: flex;
	flex-direction: column;
    width: 30em;
    margin: 5em;
    margin-bottom: 1em;
}
input[type=text] {
    border: 2px solid black;
    margin: 0.5em;
    height: 2em;
    float: right;
    width: 18em;
}
.newmusic button {
	width: 10em;
    height: 2em;
    background-color: lightgrey;
    border-radius: 0.5em;
    border: 2px solid black;
    font-size: 1em;
    margin-top: 10px;
}
.formstyle {
	display: inline-flex;
    width: 20em;
    align-items: center;
    justify-content: space-between;
}